*.apk
classes/
.clj-kondo/.cache/
.cpcache/
.eastwood
*jar
.lein-deps-sum
.lein-plugins/
.lein-repl-history
logs/gc.log*
logs/out.log
node_modules/
.nrepl-port
package-lock.json
.pnp.cjs
.pnp.loader.mjs
public/js/
.rebel_readline_history
.repl
resources/public/assets/
resources/public/.commit_hash
.shadow-cljs/
target/
.yarn/
yarn*
