*.apk
*jar
.clj-kondo/.cache/
.eastwood
.lein-deps-sum
.lein-plugins/
.lein-repl-history
.nrepl-port
.pnp.cjs
.pnp.loader.mjs
.rebel_readline_history
.repl
.shadow-cljs/
.yarn/
classes/
logs/gc.log*
logs/out.log
node_modules/
package-lock.json
public/js/
resources/public/assets/
target/
yarn*
.cpcache/