{:source-paths
 ["src/main/cljs"]

 :nrepl
 {:port 3333}

 :dev-http
 {3000 "resources/public"}

 :jvm-opts
 ["-server"
  "-Xmx2G"
  "-XX:-OmitStackTraceInFastThrow"
  "-XX:+UseStringDeduplication"
  "-Dclojure.compiler.direct-linking=true"]

 :dependencies
 [[cljs-http                     "0.1.48"]
  [nano-id                        "1.1.0"]
  [reagent                        "1.2.0"]
  [com.github.kongra/telsos-lib "0.1.464"]]

 :builds
 {:app {:target     :browser
        :output-dir "resources/public/assets/js"
        :asset-path "/assets/js"
        :modules    {:main  {:init-fn telsos.ui.core/start}}
        :devtools   {:after-load telsos.ui.core/after-load}

        :compiler-options
        {:optimizations      :none
         :elide-asserts      false
         :warnings-as-errors false
         :output-feature-set :es-next

         ;; ;; In shadow-cljs.edn
         ;; :app {:compiler-options
         ;;       {:closure-defines
         ;;        {my-app.config/DEBUG true
         ;;         my-app.config/API_URL "http://localhost:3000"}}}
         ;;
         ;; ;; In your code
         ;; (goog-define DEBUG false)
         ;; (goog-define API_URL "")
         ;; ;; These values will be different in dev vs prod builds
         :closure-defines {}}}

  :prod {:target     :browser
         :output-dir "resources/public/assets/js"
         :asset-path "/assets/js"
         :modules    {:main {:init-fn telsos.ui.core/start}}

         :compiler-options
         {:optimizations      :advanced
          :elide-asserts      false
          :warnings-as-errors true
          :output-feature-set :es-next}}}}
